<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>Acceptance tests using JsSpec</title>

<!-- JsSpec -->
<link rel="stylesheet" type="text/css" href="../lib/jsspec/JSSpec.css" />
<script type="text/javascript" src="../lib/jsspec/JSSpec.js"></script>
<script type="text/javascript" src="../lib/jsspec/diff_match_patch.js"></script>

<!-- jQuery -->
<link rel="stylesheet" href="../lib/themes/base/jquery-ui.css" />
<script src="../lib/jquery.min.js" type="text/javascript"></script>
<script src="../lib/jquery-ui.js" type="text/javascript"></script>

<!-- Plugin -->
<script src="../build/<%= details[:project] %>.min.js" type="text/javascript"></script>  

<!-- Spec tests -->
<link rel="stylesheet" href="../build/css/<%= details[:project] %>.screen.css" />
<script src="acceptance_<%= details[:project] %>.js" type="text/javascript"></script>  
<!-- other tests here -->

</head>
<body>
	
	<div id="<%= details[:project] %>" class="<%= details[:project] %>"></div>
	
</body>

</html>